/* =====================
   GRID GAME (2 KOLOM)
===================== */
.game-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:22px;
}

/* =====================
   CARD GAME
===================== */
.game-card{
  background:#0b0b0b;
  border:3px solid #ffd400;
  border-radius:26px;
  padding:22px 14px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

/* HILANGKAN GAMBAR LOGO */
.game-card img{
  display:block;
}

/* =====================
   TEXT GAME
===================== */
.game-info h3{
  color:#ffd400;
  font-size:18px;
  font-weight:700;
  letter-spacing:1px;
  text-align:center;
  margin-bottom:18px;
}

/* =====================
   BUTTON DOWNLOAD
===================== */
.btn-play{
  background:#555;
  color:#fff;
  padding:10px 30px;
  border-radius:30px;
  font-size:13px;
  font-weight:600;
  text-decoration:none;
  text-align:center;
}

.btn-play:hover{
  background:#666;
}

/* =====================
   DESKTOP (LEBIH BESAR)
===================== */
@media (min-width:768px){
  .game-info h3{
    font-size:20px;
  }

  .btn-play{
    font-size:14px;
    padding:12px 34px;
  }
}
