/* =====================
   GRID GAME
===================== */
.game-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:22px;
}

/* =====================
   CARD
===================== */
.game-card{
  background:#0b0b0b;
  border:3px solid #ffd400;
  border-radius:26px;
  padding:18px 14px 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

/* =====================
   LOGO GAME
===================== */
.game-card img{
  width:56px;
  height:56px;
  object-fit:contain;
  margin-bottom:10px;
  filter:drop-shadow(0 4px 8px rgba(0,0,0,.6));
}

/* =====================
   TEXT
===================== */
.game-info h3{
  color:#ffd400;
  font-size:17px;
  font-weight:700;
  letter-spacing:1px;
  margin-bottom:14px;
}

/* =====================
   BUTTON
===================== */
.btn-play{
  background:#555;
  color:#fff;
  padding:10px 32px;
  border-radius:30px;
  font-size:13px;
  font-weight:600;
  text-decoration:none;
}

.btn-play:hover{
  background:#666;
}

/* =====================
   DESKTOP
===================== */
@media (min-width:768px){
  .game-card img{
    width:64px;
    height:64px;
  }

  .game-info h3{
    font-size:18px;
  }

  .btn-play{
    font-size:14px;
    padding:12px 36px;
  }
}
